body {
  background-color: lightblue;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  color:black;
}

h1 {
  display: block;
  font-size: 2em;
  font-family: "Trebuchet MS";
  font-variant: small-caps;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:#404040;
  line-height: 200%;
}

h2 {
  display: block;
  font-family: "Trebuchet MS";
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:#F00;
  line-height: 110%;
}

h3, h4, h5, h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: red;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  /*text-align: center;*/
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}